// .edit-delete-container {
//     margin: 20px 0px;
//   }
  
//   .edit-delete-container a, .edit-delete-container span {
//     margin-right: 10px;
//     color: crimson;
//     text-decoration: none;
//     cursor: pointer;
//   }
  
//   .post {
//     padding: 10px;
//   }

.robo {
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 58, 243);
}

.cato {
    font-family: 'Roboto', sans-serif;
    color: purple;
}