.robo {
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 58, 243);
    font-weight: 500;
}

.cato {
    font-family: 'Roboto', sans-serif;
    color: purple;
    font-weight: 600;
}

.color-p {
    font-family: 'Roboto', sans-serif;
    color: purple;
    font-weight: 600;
}